/testing/
/target/
**/*.rs.bk
**/*.rs.swp
**/*.rs~
target/release/
Cargo.lock

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# Temporary files
*.log
*.tmp
*.swp
*.exe

